<%= form_for(current_user.relationships.build(like_movie_id: @training.id), remote: true) do |f| %>
  <div><%= f.hidden_field :like_movie_id %></div>
  <%= f.submit "お気に入り登録", class: "btn btn-mini btn-primary" %>
<% end %>