<div id="like_form<%= @training.id %>">
<% if current_user.like?(@training) %>
<%# binding.pry %>
  <%= render 'unlike', training: @training %>
<% else %>
  <%= render 'like', training: @training %>
<% end %>
</div>
