<%- model_class = Training -%>
<div class="page-header">
  <h1>筋トレ動画</h1>
  <h4>鍛えたい部位をクリックしてください</h4>
</div>
<table class="table table-striped">
 
  <tbody>
    <%= image_tag('mus5.png', alt: "サンプル", usemap: "#muscles_forward") %>
    <map name="muscles_forward">
    <area shape="poly" coords="58,82,16,228,73,120" href="/muscles/肩・腕" alt="肩・腕">
    <area shape="poly" coords="145,117,161,81,206,238" href="/muscles/肩・腕" alt="肩・腕">
    <area shape="rect" coords="74,80,144,118" href="/muscles/胸" alt="胸">
    <area shape="rect" coords="81,119,142,183" href="/muscles/体幹" alt="体幹">
    <area shape="rect" coords="66,214,101,405" href="/muscles/脚" alt="脚">
    <area shape="rect" coords="116,214,149,405" href="/muscles/脚" alt="脚">
    </map>
    <%= image_tag('mus3.png', alt: "サンプル", usemap: "#muscles_back") %>
    <map name="muscles_back">
    <area shape="poly" coords="58,82,16,228,73,120" href="/muscles/肩・腕" alt="肩・腕">
    <area shape="poly" coords="145,117,161,81,206,238" href="/muscles/肩・腕" alt="肩・腕">
    <area shape="rect" coords="74,70,144,176" href="/muscles/背中" alt="背中">
    <area shape="rect" coords="66,214,101,405" href="/muscles/脚" alt="脚">
    <area shape="rect" coords="116,214,149,405" href="/muscles/脚" alt="脚">
    </map>
  </tbody>
</table>
<footer id='left'>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_training_path,
            :class => 'btn' if signed_in? %>
</footer>
